

<ion-content>
  <div class="fundo">
  <ion-toolbar>
    <ion-title class="ion-text-center">Login do Profissional</ion-title>
  </ion-toolbar>
  <ion-item class="ion-margin-top" lines="none">
    <ion-label position="floating" >E-mail</ion-label>
    <ion-input type="email"[(ngModel)]="user.email" ></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top" lines="none">
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="user.senha" type="password" ></ion-input>
  </ion-item>
  <ion-button class="ion-margin-top" color="light" (click)="login()" expand="block">Entrar</ion-button>

  <ion-row class="botao">
    <ion-col size="6">
      <ion-button class="ion-text-center" color="primary" expand="block" (click)="cadastro()">cadastrar</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button class="ion-text-center" color="primary" expand="block" (click)="inicial()">Voltar</ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>
